{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 side_1">
                <nav class="sidebar card py-2 mb-4">
                    <ul class="nav flex-column" id="nav_accordion">
                        <li class="nav-item">
                            <a class="nav-link" href="#">About the Pro </a>
                        </li>
                        <li class="nav-item has-submenu">
                            <a class="nav-link" href="#"> Shop  </a>
                            <ul class="submenu collapse">
                                <li><a class="nav-link" href="#">Equipment </a></li>
                                <li><a class="nav-link" href="#">Golf Balls </a></li>
                                <li><a class="nav-link" href="#">Clothing </a> </li>
                            </ul>
                        </li>
                        <li class="nav-item has-submenu">
                            <a class="nav-link" href="#"> Services </a>
                            <ul class="submenu collapse">
                                <li><a class="nav-link" href="#">Private Lessons </a></li>
                                <li><a class="nav-link" href="#">On-Course Lessons </a></li>
                                <li><a class="nav-link" href="#">Trackman Session </a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Specials </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Follow the Pro </a>
                        </li>
                    </ul>
                    </nav>
            </div>
            <div class="col-sm-10 boxOne">

            </div>
        </div>
    </div>
{% endblock %}

    {% block postloadjs %}
        <script src="static/home/js/home.js"></script>
    {% endblock %}