body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.card {
    border: none;
}

.shop-image, .boxOne {
    margin: 0 !important;
    padding: 0 !important;
}

.shop-image img {
    margin: 0;
    padding: 0;
    opacity: 70%;
}
