body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
}

.tps-logo img {
    width: 100%;
    height: 20vw;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
}

.tps-course1 img {
    overflow: hidden;
    height: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
}

.shop-title {
    position: absolute;
    top: 3vw;
    left: 12vw;
    padding: 20px;
    background-color: rgb(38, 38, 38, 0.5);
    color: #faf3a0;
    border: 5px solid #faf3a0;
}

.shop-title h1 {
    font-size: 3.0vw;
}

.account_cart {
    position: absolute;
    top: 5vw;
    right: 4vw;
}

.account_cart li {
    display: block;
    color: #faf3a0;
    background-color: rgb(38, 38, 38, 0.5);
}

.account_cart li i {
    display: inline-block;
}

.search-box {
    display: inline-block;
    margin-left: 15px;
}

input.border {
    border: none !important;
}

button.border {
    border: none !important;
}

.form-control {
    background-color: rgb(38, 38, 38, 0.5);
}

.form-control:focus {
    background-color: rgb(38, 38, 38, 0.5);
}

.search-text::placeholder {
    color: #faf3a0 !important;
}

.search-text:focus {
    color: #faf3a0 !important;
}

.tps-course1 {
    padding: 0;
}

.brandbar img{
    object-fit: contain;
    width: 100%;
    margin: 10px 0px;
}

hr {
    margin-top: 0px;
}

.text-center {
    margin: 10px;
    padding: 5px;
}

#detail-tags {
    display: flex;
}

#detail-tag2 {
    display: flex;
}

.fas {
    padding-right: 10px;
    color: #faf3a0;
}

.text-center p {
    color: #faf3a0;
}
