body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
}

.tps-logo img {
    width: 100%;
    height: 20vw;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
}

.tps-course1 img {
    overflow: hidden;
    height: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
}

.shop-title {
    position: absolute;
    top: 3vw;
    left: 12vw;
    padding: 20px;
    background-color: rgb(38, 38, 38, 0.5);
    color: #faf3a0;
    border: 5px solid #faf3a0;
}

.shop-title a{
    text-decoration: none;
    color: #faf3a0;
}

.shop-title h1 {
    font-size: 3.0vw;
    text-decoration: none;
}

.account_cart {
    position: absolute;
    top: 5vw;
    right: 4vw;
}

.account_cart li {
    display: block;
    color: #faf3a0;
    background-color: rgb(38, 38, 38, 0.5);
}

.account_cart li i {
    display: inline-block;
}

.search-box {
    display: inline-block;
    margin-left: 15px;
}

input.border {
    border: none !important;
}

button.border {
    border: none !important;
}

.form-control {
    background-color: rgb(38, 38, 38, 0.5);
}

.form-control:focus {
    background-color: rgb(38, 38, 38, 0.5);
}

.search-text::placeholder {
    color: #faf3a0 !important;
}

.search-text:focus {
    color: #faf3a0 !important;
}

.tps-course1 {
    padding: 0;
}

.brandbar img{
    object-fit: contain;
    width: 100%;
    margin: 10px 0px;
}

hr {
    margin-top: 0px;
}

.text-center {
    margin: 10px;
    padding: 5px;
}

#detail-tags {
    display: flex;
}

#detail-tag2 {
    display: flex;
}

.fas {
    padding-right: 10px;
    color: #faf3a0;
}

.text-center p {
    color: #faf3a0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    height: 100%;
    background-color: whitesmoke;
}

.card {
    border: none;
    --bs-card-border-radius: none;
}

.side_1 {
    margin: 0;
    padding: 0;
}

.nav-link {
    font-size: 1.2vw;
    color: black;
}

.nav-link:hover {
    color: #ad8949;
}

.nav-link:focus {
    color: #cdc2af;
}

.solo-link {
    font-size: 1.2vw;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.solo-link:hover {
    color: #ad8949;
}

.solo-link:focus {
    color: #cdc2af;
}

.hr-bar1 {
    color: #879fae;
    margin: 0px 0px 0px 0px !important;
    padding: 0px !important;
}

.boxOne {
    margin-bottom: 50px;
}

.footer {
    background-color: darkslategray;
    color: white;
    height: 200px;
    position: relative;
}

.footer a {
    display: block;
    text-decoration: none;
    color: #faf3a0;
    padding-top: 2px;
    margin: 5px 15px;
}

.foot-text {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 7.5%;
    right: 30px;
    z-index: 99;
    font-size: 27px;
    border: none;
    outline: none;
    background-color: #faf3a0;
    color: darkslategrey;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    width: 67px;
  }
  
#myBtn:hover {
    background-color: #555;
    }

.social-links {
        padding-bottom: 15px;
        position: absolute;
        top: 50%;
        transform: translate(0px, -50%);
        right: 10%;
    }
    
.social-links li a i {
        width: 32px;
        height: 32px;
        padding: 12px 0;
        border-radius: 50%;
        font-size: 13px;
        line-height: 7px;
        text-align: center;
        color: #1F1F58;
        background: #faf3a0;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }
    
.social-links li a i:hover {
        background: rgb(255, 255, 255);
    }
    
.list-inline-item:not(:last-child) {
        margin: 0;
    }

.btt-link, 
.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

ul ul {
    list-style-type: none;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}