.icon {
    padding-right: 10px;
    color: #7872be;
}

#form-bg {
    background-color: aliceblue;
}

#delivery-banner {
    background-image: linear-gradient(to bottom right, #272727, #faf3a0);
    border-radius: 5px;
}