{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    <link rel="shortcut icon" type="image/jpg" href="{{ MEDIA_URL }}fav_golfball.ico" />

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/37d889de1c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Cahir Park PS {% block extra_title %}{% endblock %}</title>
  </head>
  <body> 
    <div class="container-fluid">
      <div class="row">
        <div class="tps-course1">
          <img src="{{ MEDIA_URL}}main_nav.png" alt="">
          <div class="shop-title">
            <a href="{% url 'home' %}">
            <h1>Cahir Park <br> Pro Shop</h1>
          </a>
          </div>
          <div class="account_cart">
            <div class="search-box">
              <form method="GET" action="{% url 'products' %}">
                  <div class="input-group w-100">
                      <input class="form-control border rounded-0 search-text" type="text" name="q" placeholder="Search our site">
                      <div class="input-group-append">
                          <button class="form-control btn btn-black border rounded-0" type="submit">
                              <span class="icon">
                                  <i class="fas fa-search"></i>
                              </span>
                          </button>
                      </div>
                  </div>
              </form>
          </div>
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
              <li class="list-inline-item dropdown">
                <a class="text-black nav-link" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="text-center" id="detail-tags">
                      <div><i class="fas fa-user fa-lg"></i></div>
                      <p class="my-0 text-account">My Account</p>
                  </div>
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="user-options">
                  {% if request.user.is_authenticated %}
                      {% if request.user.is_superuser %}
                          <a href="" class="dropdown-item">Product Management</a>
                      {% endif %}
                      <a href="" class="dropdown-item">My Profile</a>
                      <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                  {% else %}
                      <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                      <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  {% endif %}
              </div>
          </li>
              <li class="list-inline-item">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                    <div class="text-center" id="detail-tag2">
                        <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                        <p class="my-0">
                            {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                            {% else %}
                                $0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    
    <div class="container-fluid">
      <div class="row">
        <div class="brandbar">
          <img src="{{ MEDIA_URL}}brand_bar.png" alt="">
        </div>
        <hr class="hr-bar1">
      </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-2 side_1">
              <nav class="sidebar card py-2">
                  <ul class="nav flex-column" id="nav_accordion">
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'about_the_pro' %}">About the Pro </a>
                      </li>
                      <li class="nav-item has-submenu">
                          <a class="nav-link" href=""> Products  </a>
                          <ul class="submenu collapse">
                            <li><a class="nav-link" href="{% url 'products' %}?category=golf_balls">Balls </a></li>
                            <li><a class="nav-link" href="{% url 'products' %}?category=golf_carts">Carts </a></li>
                            <li><a class="nav-link" href="{% url 'products' %}?category=golf_bags">Bags </a></li>
                            <li><a class="nav-link" href="{% url 'products' %}?category=footwear">Footwear </a></li>
                            <li><a class="nav-link" href="{% url 'products' %}">All Products </a></li>
                        </ul>
                      </li>
                      <li class="nav-item has-submenu">
                          <a class="nav-link" href="#"> Services </a>
                          <ul class="submenu collapse">
                              <li><a class="nav-link" href="#">Private Lessons </a></li>
                              <li><a class="nav-link" href="#">On-Course Lessons </a></li>
                              <li><a class="nav-link" href="#">Trackman Session </a></li>
                          </ul>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#"> Specials </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#"> Follow the Pro </a>
                      </li>
                  </ul>
                  </nav>
          </div>
          <div class="col-sm-10 boxOne">
            {% block content %}
            {% endblock %}
          </div>
      </div>
  </div>
  
  <div class="container-fluid">
    <div class="row footer">
        <div class="col-sm-4 foot-text">
          <a href="">Contact Us</a>
          <a href="https://cahirgolfclub.com/">Visit Cahir Park GC Site</a>
          <a href="">Get Directions</a>
        </div>
          <div class="col-sm-8 footer-spacing" id="footer-right">
            <div class="row">
               <div class="col">
                  <div class="social-link-spacing">
                     <ul class="list-inline social-links">
                        <li class="list-inline-item">
                           <a target="_blank" href="https://www.facebook.com/">
                           <i class="fab fa-facebook-f" aria-hidden="true"></i>
                           <span class="sr-only">Facebook</span>
                           </a>
                        </li>
                        <li class="list-inline-item">
                           <a target="_blank" href="https://twitter.com/?lang=en">
                           <i class="fab fa-twitter" aria-hidden="true"></i>
                           <span class="sr-only">Twitter</span>
                           </a>
                        </li>
                        <li class="list-inline-item">
                           <a target="_blank" href="https://ie.linkedin.com/">
                           <i class="fab fa-linkedin" aria-hidden="true"></i>
                           <span class="sr-only">LinkedIn</span>
                           </a>
                        </li>
                        <li class="list-inline-item">
                           <a target="_blank" href="https://www.pinterest.com/">
                           <i class="fab fa-pinterest" aria-hidden="true"></i>
                           <span class="sr-only">Pinterest</span>
                           </a>
                        </li>
                        <li class="list-inline-item">
                           <a target="_blank" href="https://www.instagram.com/?hl=en">
                           <i class="fab fa-instagram" aria-hidden="true"></i>
                           <span class="sr-only">Instagram</span>
                           </a>
                        </li>
                        <li class="list-inline-item">
                           <a target="_blank" href="https://www.youtube.com/">
                           <i class="fab fa-youtube" aria-hidden="true"></i>
                           <span class="sr-only">YouTube</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
          <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>
        </div>
    </div>
  </div>
    

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block postloadjs %}
    
    {% endblock %}
    <script src="{% static 'js/base.js' %}"></script>
  </body>
</html>